/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td_j: td_j {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_J";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp MINUS>;
        };

        td_k: td_k {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_K";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp FSLH>;
        };

        td_comma: td_comma {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_COMMA";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp EQUAL>;
        };

        HRM: HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Functions {
            bindings = <&mo 3>;
            key-positions = <19 20>;
        };

        Nav {
            bindings = <&to 1>;
            key-positions = <16 15>;
        };

        Numpad {
            bindings = <&to 2>;
            key-positions = <16 14>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Home {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q           &kp W                 &kp E          &kp R         &kp T      &kp Y   &kp U      &kp I      &kp O    &kp P     &kp ENTER
&sk LCTRL  &kp A           &lt 2 S               &HRM LCTRL D   &lt 1 F       &kp G      &kp H   &td_j      &td_k      &kp L    &kp SEMI  &mt LC(LA(RIGHT_SHIFT)) SQT
&sk LSHFT  &mt LEFT_GUI Z  &mt K_CONTEXT_MENU X  &kp C          &kp V         &kp B      &kp N   &kp M      &td_comma  &kp DOT  &to 3     &sk RIGHT_SHIFT
                                                 &kp BACKSPACE  &kp LEFT_ALT  &kp RET    &tog 2  &kp SPACE  &tog 1
            >;
        };

        nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Nav";
            bindings = <
&trans  &trans   &kp BACKSPACE   &kp DELETE          &trans            &trans               &kp PLUS   &kp PAGE_UP  &kp UP_ARROW  &kp PAGE_DOWN  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans  &kp ESC  &kp LEFT_SHIFT  &kp LCTRL           &kp F2            &trans               &kp F2     &kp LEFT     &kp DOWN      &kp RIGHT      &to 0             &trans
&trans  &trans   &kp LEFT_GUI    &kp K_CONTEXT_MENU  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &kp MINUS  &kp HOME     &trans        &kp END        &trans            &trans
                                 &trans              &kp LEFT_ALT      &kp SPACE            &trans     &trans       &trans
            >;
        };

        Numpad {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Numpad";
            bindings = <
&kp TAB    &trans  &trans     &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &trans        &HRM BACKSLASH SLASH  &HRM AMPERSAND N7          &HRM ASTERISK N8       &HRM LEFT_PARENTHESIS NUMBER_9  &HRM GRAVE COMMA   &kp ENTER
&kp LCTRL  &to 0   &kp EQUAL  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &trans        &kp MINUS             &HRM DOLLAR NUMBER_4       &HRM PERCENT N5        &mt CARET NUMBER_6              &HRM COLON PERIOD  &trans
&sk LSHFT  &trans  &trans     &kp EQUAL              &kp LEFT_GUI       &trans        &kp PLUS              &HRM EXCLAMATION NUMBER_1  &HRM AT_SIGN NUMBER_2  &HRM HASH NUMBER_3              &trans             &kp RIGHT_SHIFT
                              &kp BACKSPACE          &kp SPACE          &kp DELETE    &trans                &mt RIGHT_PARENTHESIS N0   &trans
            >;
        };

        Fn {
            bindings = <
&trans  &trans   &kp F9  &kp F8   &kp F7             &kp F12         &kp C_VOL_UP       &bt BT_SEL 0      &bt BT_SEL 1    &bt BT_SEL 3     &bt BT_CLR    &trans
&trans  &kp ESC  &kp F6  &kp F5   &kp F4             &kp F11         &kp C_VOLUME_DOWN  &to 0             &kp RCTRL       &kp RIGHT_SHIFT  &kp LEFT_ALT  &trans
&trans  &trans   &kp F3  &kp F2   &kp F1             &kp F10         &kp K_MUTE         &kp K_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_NEXT       &trans        &trans
                         &kp DEL  &kp K_APPLICATION  &kp LEFT_GUI    &trans             &to 0             &trans
            >;
        };
    };
};
